/*default btn*/
.ant-btn-default {
    border-width: 1px;
}

/*primary btn*/
.ant-btn-primary:disabled {
    border-width: 0;
}

button:focus {
    outline: none;
}

.ant-btn {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}