/*icon*/
/*select drop icon*/
.ant-select-arrow {
    color: var(--text-color) !important;
}

/*dropdown item expand icon*/
.ant-cascader-menu-item-expand-icon {
    color: var(--text-color) !important;
}

/*select clear all icon*/
.ant-select-clear {
    color: var(--text-color) !important;
    margin-right: 20px !important;
    opacity: 0.5 !important;
    transform: scale(1.1);
}

/*justify selector for clear all icon*/
.ant-select-selector {
    padding-right: 50px !important;
}

.ant-select-selector:focus {
    border: 1px solid var(--primary-color) !important;
}

li.ant-cascader-menu-item {
    overflow: unset !important;
}