/*custom select item*/
li.ant-menu-item.ant-menu-item-selected {
    font-weight: normal;
}
span.ant-menu-title-content {
    word-wrap: break-word;
    white-space: normal;
}

li.ant-menu-item {
    height: auto !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ant-menu-submenu-title {
    height: auto !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ant-tag {
    font-weight: normal;
}