/*hidden more button*/
.ant-tabs-nav-more {
    display: none;
}

/*tab item center*/
.ant-tabs-tab {
    justify-content: center;
}

.ant-tabs-tab-btn {
    text-shadow: none !important;
}

.ant-tabs-nav {
    margin: 0 !important;
}