/*custom x toolbar*/
::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
}

/*custom select item*/
span.ant-tree-node-content-wrapper.ant-tree-node-selected{
    color: var(--primary-color);
}